@import url('https://fonts.googleapis.com/css?family=Neuton|Sacramento|Trade+Winds&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    position: relative;
    height: 850px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: 3s;
    animation: zoom 7s forwards;

}
@keyframes zoom{
    from{ transform: scale(1); }
    to{ transform: scale(1.05); }
}

.header {

    position: fixed;

    width: 100%;

    /* height: 100px; */

    background-color: #ffff;

    z-index: 1;

}

.header-div {
    width: 95%;
    float: right;
    position: relative;
}

.logo {
    position: absolute;
}

.logo img {
    padding-top: 12px;
    padding-bottom: 14px;
}

.menu {
    float: right;
    width: 60%;
}

.list-menu {
    font-size: 1.1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.list-menu li {
    line-height: 72px;
}

.list-menu-item a:hover {
    background-color: #6eaa00;
    color: #ffff;
}

.list-menu-link {
    padding: 26px 20px;
    margin: 0;
    text-decoration: none;
    color: #878376;
}

.home {
    text-decoration: none;
    color: #6eaa00;
    padding: 26px 20px;
    margin: 0;
}

.banner-text {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: 8%;
    color: #ffff;
    width: 45%;
    height: 460px;
}

.banner-text-h1 {
    margin: 0;
    color: #ffff;
    font-style: italic;
    font-size: 50px;
    font-family: 'Trade Winds', cursive;
}

.banner-text-h2 {
    font-family: 'Neuton', serif;
    font-size: 20px;
    margin: 30px 0px 60px;

}

.banner-text-span {
    font-family: 'Trade Winds', cursive;
    font-weight: bold;
}

.banner-choose-button {
    padding: 1rem 3rem;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: rgb(110, 170, 0);
    font-family: 'Neuton', serif;
    display: inline-block;
    border-radius: 30px;
    word-spacing: 4px;
    letter-spacing: 2px;

}

.banner-choose-button:hover {
    background-color: #9ACD32;

}

.sectionBestFruit {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;

}
@media only screen and (min-width: 320px) and (max-width: 374px){
    .menu{
        width: 65%;

    }
    .banner{
        width: 320%;
    }
    .list-menu{
        font-size: 12px;
    }
    .sectionBestFruit{
        width: 300%;
    }
    .sectionBestFruit-imgProduct{
        position: absolute;
        top: -140px;
        right: 10px;
    }
    .sectionSale{
        width: 317%;
    }
    .sectionJoin{
        width: 328%;
    }

    .sectionProduct{
        width: 317%;
    }
    .sectionMap{
        width: 320%;
    }
    .sectionProduct-divproduct{
        width: 82%;
    }
    .footer{
        width: 320%;
    }

}
@media (max-width: 319px){
        .menu{
        width: 65%;

    }
    .banner{
        width: 320%;
    }
    .list-menu{
        font-size: 4px;
    }
    .sectionBestFruit{
        width: 300%;
    }
    .sectionBestFruit-imgProduct{
        position: absolute;
        top: -140px;
        right: 10px;
    }
    .sectionSale{
        width: 317%;
    }
    .sectionJoin{
        width: 328%;
    }

    .sectionProduct{
        width: 317%;
    }
    .sectionMap{
        width: 320%;
    }
    .sectionProduct-divproduct{
        width: 82%;
    }
    .footer{
        width: 320%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
    .menu{
        width: 65%;

    }
    .banner{
        width: 320%;
    }
    .list-menu{
        font-size: 15px;
    }
    .sectionBestFruit{
        width: 300%;
    }
    .sectionBestFruit-imgProduct{
        position: absolute;
        top: -140px;
        right: 10px;
    }
    .sectionSale{
        width: 317%;
    }
    .sectionJoin{
        width: 328%;
    }

    .sectionProduct{
        width: 317%;
    }
    .sectionMap{
        width: 320%;
    }
    .sectionProduct-divproduct{
        width: 82%;
    }
    .footer{
        width: 320%;
    }

}
@media only screen and (min-width: 425px) and (max-width: 767px){
    .menu{
        width: 65%;

    }
    .banner{
        width: 320%;
    }
    .list-menu{
        font-size: 15px;
    }
    .sectionBestFruit{
        width: 300%;
    }
    .sectionBestFruit-imgProduct{
        position: absolute;
        top: -140px;
        right: 10px;
    }
    .sectionSale{
        width: 317%;
    }
    .sectionJoin{
        width: 328%;
    }

    .sectionProduct{
        width: 317%;
    }
    .sectionMap{
        width: 320%;
    }
    .sectionProduct-divproduct{
        width: 82%;
    }
    .footer{
        width: 320%;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .menu{
        width: 65%;

    }
    .banner{
        width: 320%;
    }
    .list-menu{
        font-size: 15px;
    }
    .sectionBestFruit{
        width: 300%;
    }
    .sectionBestFruit-imgProduct{
        position: absolute;
        top: -140px;
        right: 10px;
    }
    .sectionSale{
        width: 317%;
    }
    .sectionJoin{
        width: 328%;
    }

    .sectionProduct{
        width: 317%;
    }
    .sectionMap{
        width: 320%;
    }
    .sectionProduct-divproduct{
        width: 82%;
    }
    .footer{
        width: 320%;
    }

}
@media only screen and (min-width: 1024px) and (max-width: 1349px){
    .menu{
        width: 65%;

    }
    .banner{
        width: 100%;
    }
    .list-menu{
        font-size: 13px;
    }
    .sectionBestFruit{
        width: 100%;
    }
    .sectionBestFruit-imgProduct{
        position: absolute;
        top: -140px;
        right: 10px;
    }
    .sectionSale{
        width: 100%;
    }
    .sectionJoin{
        width: 100%;
    }

    .sectionProduct{
        width: 100%;
    }
    .sectionMap{
        width: 100%;
    }
    .sectionProduct-divproduct{
        width: 100%;
    }
    .footer{
        width: 100%;
    }


}
@media  (min-width: 1440px){
    .sectionJoin{
        width: 100%;
    }
}



.sectionBestFruit-wrap {
    margin-left: 12%;
    display: flex;
    flex-direction: row;
}

.sectionBestFruit-wrap-imgPerson {
    padding: 0 5px;
    height: 150px;
}

.sectionBestFruit-imgProduct {
    right: 60px;
    top: -140px;
    position: absolute;
    z-index: 0;
}

.sectionBestFruit-text {
    font-family: 'Trade Winds', cursive;
    font-size: 20px;
    width: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.sectionBestFruit-textTitle p {
    margin-bottom: -10px;


}

.sectionBestFruit-textContent p {
    font-family: 'Neuton';
    font-size: 17px;
    color: #848484;
    margin-top: 8px;
}

.sectionBestFruit-person {
    margin-bottom: 0;
}

.sectionBestFruit-person span {
    font-family: Sacramento, cursive;
    color: #6eaa00;
    font-size: 30px;
}

.sectionSale {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-top: 15px;
    height: 475px;
    margin-left: auto;
    margin-right: auto;
}

.sectionSale-Pr {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin: 0;
}

.sectionSale-Pr1,
.sectionSale-Pr2,
.sectionSale-Pr3 {

    display: inline-block;

    background-size: cover;

    background-position: center;

    border-radius: 35px;

    margin: 17px;
    text-align: center;
}
.sectionSale-Pr1 {
    background-image: url(img/section2-div1.jpg);
}
.sectionSale-Pr2 {
    background-image: url(img/section2-div2.jpg);
}

.sectionSale-Pr3 {
    background-image: url(img/section2-div3.jpg);
}


.sectionSale-Pr1 a:hover {
    background-color: #6eaa00;
    border: none;
}

.sectionSale-Pr2 a:hover {
    background-color: #6eaa00;
    border: none;
}

.sectionSale-Pr3 a:hover {
    background-color: #6eaa00;
    border: none;
}

.sectionSale-Pr1 a,
.sectionSale-Pr2 a,
.sectionSale-Pr3 a {
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    border: 2px solid #ffff;
    padding: 18px 44px;
    color: #ffff;
    display: inline-block;
    margin-top: 70px;
}

.sectionSale-Pr1 h1,
.sectionSale-Pr2 h1,
.sectionSale-Pr3 h1 {
    font-family: 'Trade Winds', cursive;
    left: 30px;
    top: 90px;
    color: #ffff;
    text-align: center;
    margin-top: 20px;
}

.sectionSale-Pr1 h4,
.sectionSale-Pr2 h4,
.sectionSale-Pr3 h4 {
    text-align: center;
    font-family: Neuton, serif;
    font-size: 14px;
    margin-top: 80px;
    color: #ffff;
    letter-spacing: 0.2px;
}

.sectionSale-Pr1 p,
.sectionSale-Pr2 p,
.sectionSale-Pr3 p {
    color: #ffff;
    font-size: 19px;
    text-align: center;
}

.sectionJoin {
    width: 100%;
    display: inline-block;
    margin-top: 100px;
    height: 600px;
    background-image: url(img/banner2.jpg);
    background-position: center;
    background-size: cover;

}

.sectionJoin h1 {
    font-family: 'Trade Winds', cursive;
    text-align: center;
    color: #ffff;
    font-size: 60px;
    letter-spacing: 4px;
    margin-bottom: 0;
    margin: 0 auto;
}

.sectionJoin-content {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.sectionJoin-content p {
    text-align: center;
    color: #ffff;
    font-size: 20px;
    margin-bottom: 80px;
}

.sectionJoin-content a {
    padding: 20px 50px;
    border-radius: 30px;
    color: #ffff;
    background-color: #6eaa00;
    text-decoration: none;
    font-family: 'Neuton';
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;

}

.sectionJoin-content a:hover {
    background-color: #876b5d;
}

.sectionProduct {
    margin-top: 70px;
}

.sectionProduct-divproduct {
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.sectionProduct-product {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 5px auto;
}

.product-image {
    margin: 0;
    overflow: hidden;
}

.product1,
.product2,
.product3 {

    margin: 10px;

}

.product1:hover {
    color: #6eaa00;
}

.product2:hover {
    color: #6eaa00;
}

.product3:hover {
    color: #6eaa00;
}

.product1:hover img {
    transform: scale(1.1);
}

.product2:hover img {
    transform: scale(1.1);
}

.product3:hover img {
    transform: scale(1.1);
}

.product1 img,
.product2 img,
.product3 img {
    width: 100%;
    padding: 2px;
    transition: 0.5s;
    height: 232px;
}

.sectionProduct-product h2 {
    font-family: 'Trade Winds', cursive;
    text-align: center;
    margin-top: 42px;
    letter-spacing: 0;
}

.sectionProduct-product h4 {
    text-align: center;
}

.sectionMap {
    margin-top: 50px;
}

.sectionProduct-title,
.sectionMap-title {
    width: 100%;
    text-align: center;
}

.sectionMap-title h1,
.sectionProduct-title h1 {
    margin: 0;
    font-family: 'Trade Winds', cursive;
    letter-spacing: 2px;
    color: #29220A;
    font-weight: 400;
    font-size: 30px;
}

.sectionMap-banner {
    position: relative;
    width: 80%;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/apples-1.jpg);
    background-size: cover;
    background-position: center;
}

.sectionMap-banner img {
    position: absolute;
    z-index: 0;
    top: 57px;
    right: 57px;
    height: 268px;
}

.footer {
    background-image: url(htmlCss/img/fruitseamless1-1.webp);
    background-size: cover;
    background-position: center;
    height: 200px;
    background-color: #3c322b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffff;
}

.footer h4 {
    color: #ffff;
}

.footer-div {
    width: 300px;
    text-align: left
}

.footer ul {
    list-style: none;
}

.footer h4 {
    font-family: 'Trade Winds', cursive;
    margin-top: 30px;
}

.footer p {
	color: #8b8582;
    font-size: 14px;
}

.footer li a:hover {
    color: #6eaa00;
}

.footer li a {
    color: #8b8582;
    text-decoration: none;
}